@use './themes/startpage-theme' as theme;
$transition: all .2s ease-in-out;

$font-body: theme.$font-default;
$shadow-default: 0px 0px 20px rgba(0, 0, 0, 0.367);

$p: 1vh;
@media (orientation: portrait) { $p: 1vw }

html * {
    font-family: theme.$font-default;
    color: theme.$base;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}

body {
    background-color: theme.$surface1;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    height: 100vh;
    width: 100vw;
    margin: 0;               /* Removes default margin */
    background-image: theme.$background-image-path;
}

.terminal {
    transition: $transition;
    opacity: 0.9;
    border-radius: 0.5rem;
    border-color: theme.$color-primary;
    border-width: 2px;
    border-style: solid;
    background-color: theme.$surface2;
    box-shadow: $shadow-default;
    width: fit-content;
    height: fit-content;
}
.terminal:hover { opacity: 1; }

.bookmarksPanel {
    box-shadow: $shadow-default;
    width: fit-content;
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}


.bookmarkTab {
    display: inline-box;
    .bookmarkList {
        display: flex;
    }
    h2 {
        transition: $transition;
        color: theme.$text-subdued;
        opacity: 1;
        font-size:small;
    }
    padding-bottom:0.25rem;
    padding-top:0.25rem;
}
.bookmarkTab:hover {
    h2 { color: theme.$color-alt; }
}


.bookmark * {
    display: flex;
}

$bookmarkheight: 1.8rem;
.bookmark * { transition: $transition; }
.bookmark {
    box-shadow: $shadow-default;
    background-color: theme.$surface3;
    border-radius: 0.25rem;
    display: flex;
    height: $bookmarkheight;
    width: fit-content;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    .line {
        width: 0.15rem;
        height: 100%;
        background-color: theme.$color-primary;
    };
    a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 100%;
        line-height: 100%;
        padding-top: calc(($bookmarkheight - 1rem) / 2);
        padding-bottom: calc(($bookmarkheight - 1rem) / 2);
        width: fit-content;
        text-align: left;
        text-decoration: none;
        color: theme.$text-primary;
        font-weight: bold;
        bottom: 0px;
    };
}
.bookmark:hover {
    a { color: theme.$color-alt; }
    .line { background-color: theme.$color-alt; }
}

h1,h2,h3 {
    text-transform: uppercase;
}

a {
    text-transform: lowercase;
}


$color-user: theme.$color-alt;
$color-at: theme.$color-secondary;
$color-host: theme.$color-primary;
$displayHeight: 2rem;
.terminal-display {
    box-shadow: 0px -0.25rem 0.25rem rgba(0,0,0,0.1);
    font-family: inherit;
    background-color: theme.$surface3;
    display: flex;
    height:$displayHeight;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    line-height: 100%;
    .spacer { width: 0.75rem; height: $displayHeight; opacity: 0; };
    .content {
        box-shadow: 0.375rem 0px 0px rgba(0,0,0,0.075);
        height: $displayHeight;
        line-height: 100%;
        background-color: theme.$surface4;
        display: flex;
        width: fit-content;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        .user { color: theme.$color-primary; };
        .at { color: theme.$color-alt; };
        .host { color: theme.$color-secondary; };
        .user, .at, .host {
            padding-top: calc(($displayHeight - 1rem) / 2 - 0.1rem);
            height: 1rem;
            width: fit-content;
            text-align: left;
            font-weight: bold;
        };
    };
    input {
        color: theme.$text-primary;
        background-color: rgba(0,0,0,0);
        outline: none;
        height:$displayHeight;
        line-height: 100%;
        width: fit-content;
    };
};