<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title if title else site.name }}</title>
        <meta name="description" content="{{ description if description else site.description }}"/>

        <link rel="icon" type="image/png" href="/_assets/favicon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="/_assets/favicon/favicon.svg"/>
        <link rel="shortcut icon" href="/_assets/favicon/favicon.ico"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/_assets/favicon/apple-touch-icon.png"/>
        <link rel="manifest" href="/_assets/favicon/site.webmanifest"/>

        <link rel="stylesheet" href="/_css/startpage.css">
    </head>
    <body>
        {% block startpage %}{% endblock %}
    </body>
</html>