<input class="terminal-input"
    id="TERMINAL_INPUT"
    type="text"
    autocomplete="on"
    autofocus
    placeholder="{{ searchPlaceholderText if searchPlaceholderText else "awaiting..." }}"
>
</input>