@font-face {
    font-family: 'Fira Mono';
    src: url('/_assets/fonts/FiraMono/FiraMono-Bold.eot');
    src: url('/_assets/fonts/FiraMono/FiraMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraMono/FiraMono-Bold.woff2') format('woff2'),
        url('/_assets/fonts/FiraMono/FiraMono-Bold.woff') format('woff'),
        url('/_assets/fonts/FiraMono/FiraMono-Bold.ttf') format('truetype'),
        url('/_assets/fonts/FiraMono/FiraMono-Bold.svg#FiraMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/_assets/fonts/FiraMono/FiraMono-Medium.eot');
    src: url('/_assets/fonts/FiraMono/FiraMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraMono/FiraMono-Medium.woff2') format('woff2'),
        url('/_assets/fonts/FiraMono/FiraMono-Medium.woff') format('woff'),
        url('/_assets/fonts/FiraMono/FiraMono-Medium.ttf') format('truetype'),
        url('/_assets/fonts/FiraMono/FiraMono-Medium.svg#FiraMono-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/_assets/fonts/FiraMono/FiraMono-Regular.eot');
    src: url('/_assets/fonts/FiraMono/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraMono/FiraMono-Regular.woff2') format('woff2'),
        url('/_assets/fonts/FiraMono/FiraMono-Regular.woff') format('woff'),
        url('/_assets/fonts/FiraMono/FiraMono-Regular.ttf') format('truetype'),
        url('/_assets/fonts/FiraMono/FiraMono-Regular.svg#FiraMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

