@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Black.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Black.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Black.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Black.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Black.svg#FiraSansCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Bold.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Bold.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Bold.svg#FiraSansCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BlackItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BlackItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BlackItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BlackItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BlackItalic.svg#FiraSansCondensed-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BoldItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BoldItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BoldItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BoldItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-BoldItalic.svg#FiraSansCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBold.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBold.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBold.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBold.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBold.svg#FiraSansCondensed-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBoldItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBoldItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBoldItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraBoldItalic.svg#FiraSansCondensed-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLight.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLight.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLight.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLight.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLight.svg#FiraSansCondensed-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLightItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLightItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLightItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ExtraLightItalic.svg#FiraSansCondensed-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Italic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Italic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Italic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Italic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Italic.svg#FiraSansCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Light.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Light.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Light.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Light.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Light.svg#FiraSansCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-LightItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-LightItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-LightItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-LightItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-LightItalic.svg#FiraSansCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Medium.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Medium.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Medium.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Medium.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Medium.svg#FiraSansCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-MediumItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-MediumItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-MediumItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-MediumItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-MediumItalic.svg#FiraSansCondensed-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Regular.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Regular.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Regular.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Regular.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Regular.svg#FiraSansCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBold.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBold.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBold.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBold.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBold.svg#FiraSansCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBoldItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBoldItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBoldItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-SemiBoldItalic.svg#FiraSansCondensed-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Thin.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Thin.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Thin.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Thin.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-Thin.svg#FiraSansCondensed-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ThinItalic.eot');
    src: url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ThinItalic.woff2') format('woff2'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ThinItalic.woff') format('woff'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ThinItalic.ttf') format('truetype'),
        url('/_assets/fonts/FiraSansCondensed/FiraSansCondensed-ThinItalic.svg#FiraSansCondensed-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

