@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-Bold.eot');
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Bold.woff2') format('woff2'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Bold.woff') format('woff'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Bold.ttf') format('truetype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Bold.svg#UbuntuMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-Italic.eot');
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Italic.woff2') format('woff2'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Italic.woff') format('woff'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Italic.ttf') format('truetype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Italic.svg#UbuntuMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-BoldItalic.eot');
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-BoldItalic.woff2') format('woff2'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-BoldItalic.woff') format('woff'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-BoldItalic.ttf') format('truetype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-BoldItalic.svg#UbuntuMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-Regular.eot');
    src: url('/_assets/fonts/UbuntuMono/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Regular.woff2') format('woff2'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Regular.woff') format('woff'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Regular.ttf') format('truetype'),
        url('/_assets/fonts/UbuntuMono/UbuntuMono-Regular.svg#UbuntuMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

